@import "/src/styles.scss";

.contenido,
.content-container {
  height: 100%;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.table-div {
  flex: 2;
  height: auto;
  overflow: auto;
}

.header-div{
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  padding-top: 1em;
}

table {
  width: 100%;
}

table * {
  background-color: $background;
}

.mat-header-row {
  height: 2.5em !important;
}

.mat-header-cell{
  text-align: center;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-paginator{
  background-color: $background;
}

.table-info{
  margin-top: 2em;
}