h3 {
  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
}

.id-field {
  font-size: 1em;
}

span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
}
