<div>
    <h3>{{formGroup.value.razonSocial}}</h3>
</div>

<div>
    <p><strong>ID: </strong><span class="id-field">{{formGroup.value.id}}</span></p>
</div>
<div>
    <p><strong>RFC: </strong><span>{{formGroup.value.rfc}}</span></p>
</div>
<div>
    <p><strong>Razón Social: </strong><span>{{formGroup.value.razonSocial}}</span></p>
</div>
<div>
    <p><strong>Nombre Contacto:</strong><span>{{formGroup.value.nombreContacto}}</span></p>
</div>
<div>
    <p><strong>Teléfono: </strong><span>{{formGroup.value.telefonoPrincipal}}</span></p>
</div>
<div>
    <p><strong>Celular: </strong><span>{{formGroup.value.telefonoMovil}}</span></p>
</div>
<div>
    <p><strong>eMail: </strong><span>{{formGroup.value.email}}</span></p>
</div>
<div>
    <p><strong>Fecha de Registro: </strong><span>{{formGroup.value.fechaRegistro}}</span></p>
</div>
<div>
    <p><strong>Activo: </strong><span>{{(formGroup.value.activo?'Activo':'Inactivo')}}</span></p>
</div>
