<div class="contenedor">
  <mat-toolbar class="toolbar">
    <mat-icon (click)="isExpanded = !isExpanded; disabled = !disabled"
      >menu</mat-icon
    >
    <img src="assets/ChillOutBar.png" alt="ChillOut" />
    <ol class="breadcrumb">
      <li><a (click)="backClicked()">Menu Principal</a></li>
      <li><a (click)="backClicked()">SubMenu</a></li>
      <li><a (click)="backClicked()">Categoría</a></li>
      <li class="active">Componente</li>
    </ol>
    <span class="fill-remaining-space"></span>
    <span class="user">{{ username }}</span>
    <mat-icon>logout</mat-icon>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-container" hasBackdrop="true">
    <!-- Mat Drawer // El que sale como sub menus -->
    <mat-drawer #drawer mode="over">
      <div class="submenu-container">
        <!-- Submenu de Analytics -->
        <mat-nav-list class="dashboard" *ngIf="analyticsModule">
          <a mat-list-item class="submenu-item" [routerLink]="['/toptenarticles']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon> ssid_chart </mat-icon>
            <p matLine>Articulos vendidos</p>
          </a>
        </mat-nav-list>
        <!-- Submenu de Productos -->
        <mat-nav-list class="dashboard" *ngIf="productsModule">
          <a mat-list-item class="submenu-item" [routerLink]="['/product']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>add_box</mat-icon>
            <p matLine>Nuevo articulo</p>
          </a>
          <a mat-list-item class="submenu-item" [routerLink]="['/products']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>view_list</mat-icon>
            <p matLine>Ver articulos</p>
          </a>
        </mat-nav-list>
        <!-- Submenu de Categorías -->
        <mat-nav-list class="dashboard" *ngIf="categoriasModule">
          <a mat-list-item class="submenu-item" [routerLink]="['/categoria']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>add</mat-icon>
            <p matLine>Nueva categoría</p>
          </a>
          <a mat-list-item class="submenu-item" [routerLink]="['/categorias']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>dataset</mat-icon>
            <p matLine>Ver categorías</p>
          </a>
        </mat-nav-list>
        <!-- Submenu de Proveedores -->
        <mat-nav-list class="dashboard" *ngIf="proveedoresModule">
          <a mat-list-item class="submenu-item" [routerLink]="['/proveedor']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>person_add</mat-icon>
            <p matLine>Nuevo proveedor</p>
          </a>
          <a mat-list-item class="submenu-item" [routerLink]="['/proveedores']" (click)="drawer.toggle();">
            <mat-icon mat-list-icon>group</mat-icon>
            <p matLine>Ver proveedores</p>
          </a>
        </mat-nav-list>
      </div>
    </mat-drawer>
    <!-- Mat Drawer Content // El contenido del menu -->
    <mat-drawer-content>
      <mat-sidenav-container class="drawer-contenido" autosize>
        <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
          <mat-nav-list class="dashboard">
            <!-- Estadisticas -->
            <a id=analytics mat-list-item (click)="toggleActive($event); drawer.toggle();">
              <mat-icon
                mat-list-icon
                matTooltip="Análisis diario"
                [matTooltipDisabled]="disabled"
                matTooltipPosition="right"
              >
                query_stats</mat-icon
              >
              <p matLine *ngIf="isExpanded">Estadisticas</p>
            </a>

            <mat-divider></mat-divider>

            <!-- Articulos -->
            <a id=products mat-list-item (click)="toggleActive($event); drawer.toggle();">
              <mat-icon
                mat-list-icon
                matTooltip="Articulos"
                [matTooltipDisabled]="disabled"
                matTooltipPosition="right"
                >trolley</mat-icon
              >
              <p matLine *ngIf="isExpanded">Articulos</p>
            </a>

            <!-- Categorias -->
            <a id=categorias mat-list-item (click)="toggleActive($event); drawer.toggle();">
              <mat-icon
                mat-list-icon
                matTooltip="Categorías"
                [matTooltipDisabled]="disabled"
                matTooltipPosition="right"
                >apps</mat-icon
              >
              <p matLine *ngIf="isExpanded">Categorías</p>
            </a>

            <!-- Proveedores -->
            <a id=proveedores mat-list-item (click)="toggleActive($event); drawer.toggle();">
              <mat-icon
                mat-list-icon
                matTooltip="Proveedores"
                [matTooltipDisabled]="disabled"
                matTooltipPosition="right"
                >group</mat-icon
              >
              <p matLine *ngIf="isExpanded">Proveedores</p>
            </a>

            <mat-divider></mat-divider>

            <!-- POS -->
            <a mat-list-item (click)="toggleActive($event); drawer.toggle();">
              <mat-icon
                mat-list-icon
                matTooltip="Puntos de venta"
                [matTooltipDisabled]="disabled"
                matTooltipPosition="right"
                >point_of_sale</mat-icon
              >
              <p matLine *ngIf="isExpanded">POS's</p>
            </a>
            <mat-divider></mat-divider>
          </mat-nav-list>
        </mat-sidenav>

        <div class="sidenav-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
