<div>
    <h3>{{firstFormGroup.value.nombre}}</h3>
</div>

<div>
    <p><strong>Codigo de barras: </strong>{{firstFormGroup.value.codBarras}}</p>
</div>
<div>
    <p><strong>Categoría: </strong>{{firstFormGroup.value.categoriaID}}</p>
</div>
<div>
    <strong>Descripción:</strong>
    <p>{{firstFormGroup.value.descripcion}}</p>
</div>
<div>
    <p><strong>Proveedor: </strong>{{firstFormGroup.value.proveedorID}}</p>
</div>
<div>
    <p><strong>Stock: </strong>{{secondFormGroup.value.stock}}</p>
</div>
<div>
    <p><strong>Precio de compra: </strong>{{secondFormGroup.value.precioCompra}}</p>
</div>
<div>
    <p><strong>Utilidad sobre venta: </strong>{{secondFormGroup.value.utilidad}}</p>
</div>
<div>
    <p><strong>Precio de venta: </strong>{{secondFormGroup.value.precioVenta}}</p>
</div>
<div>
    <p><strong>IVA aplicado: </strong>{{secondFormGroup.value.iva}}</p>
</div>
<div>
    <p><strong>Promoción: </strong>{{secondFormGroup.value.promoID}}</p>
</div>
<div>
    <p><strong>Disponible: </strong>{{thirdFormGroup.value.disponible}}</p>
</div>
<div>
    <p><strong>Visible: </strong>{{thirdFormGroup.value.visible}}</p>
</div>
<div>
    <p><strong>Imagenes: </strong>{{thirdFormGroup.value.img}}</p>
</div>
