<div class="contenido">
  <div class="content-container">
    <h1>Nuevo articulo</h1>
    <div class="formulario">
      <mat-stepper #stepper>
        <mat-step
          [stepControl]="firstFormGroup"
          errorMessage="Información requerida"
        >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información del articulo</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Código de barras</mat-label>
              <input
                matInput
                placeholder="7506174512200"
                formControlName="codBarras"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Categoría</mat-label>
              <mat-select
                [formControl]="cateogiriasControl"
                name="categoriaID"
                required
                [(value)]="selectedCategoria"
              >
                <mat-option
                  *ngFor="let cateogira of categoriasData"
                  [value]="cateogira.id"
                >
                  {{ cateogira.nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cateogiriasControl.hasError('required')"
                >Por favor selecciona una categoría</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                placeholder="Nombre del articulo"
                formControlName="nombre"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Descripción</mat-label>
              <input
                matInput
                placeholder="Descripción del articulo"
                formControlName="descripcion"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Proveedor</mat-label>
              <mat-select
                [formControl]="proveedoresControl"
                name="proveedorID"
                required
                [(value)]="selectedProveedor"
              >
                <mat-option
                  *ngFor="let proveedor of proveedoresData"
                  [value]="proveedor.id"
                >
                  {{ proveedor.razonSocial }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cateogiriasControl.hasError('required')"
                >Por favor selecciona un proveedor</mat-error
              >
            </mat-form-field>
          </form>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="secondFormGroup"
          errorMessage="Información requerida"
        >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Precio del articulo</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Stock</mat-label>
              <input
                matInput
                placeholder="55"
                formControlName="stock"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Precio de compra</mat-label>
              <input
                matInput
                placeholder="255.00"
                formControlName="precioCompra"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Utilidad</mat-label>
              <input
                matInput
                placeholder="120.00"
                formControlName="utilidad"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Precio de venta</mat-label>
              <input
                matInput
                placeholder="550.00"
                formControlName="precioVenta"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>IVA</mat-label>
              <input
                matInput
                placeholder="100.00"
                formControlName="iva"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Promoción</mat-label>
              <mat-select [formControl]="promocionesControl" name="promoID">
                <mat-option
                  *ngFor="let promo of promocionesData"
                  [value]="promo.id"
                >
                  {{ promo.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="thirdFormGroup"
          errorMessage="Información requerida"
        >
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Estado del articulo</ng-template>
            <!--mat-form-field appearance="fill">
              <mat-label>Disponible</mat-label>
              <input
                matInput
                placeholder=""
                formControlName="disponible"
                required
              />
            </mat-form-field-->
            <mat-slide-toggle
              formControlName="disponible"
              class="slide-toggle-class"
            >
              Disponible
            </mat-slide-toggle>
            <!--mat-form-field appearance="fill">
              <mat-label>Visible</mat-label>
              <input
                matInput
                placeholder=""
                formControlName="visible"
                required
              />
            </mat-form-field-->
            <mat-slide-toggle
              formControlName="visible"
              class="slide-toggle-class"
            >
              Visible
            </mat-slide-toggle>
            <!--at-form-field appearance="fill">
              <mat-label>Imagenes</mat-label>
              <input matInput placeholder="" formControlName="img" required />
            </mat-form-field-->

            <div class="controls">
              <div>
                <mat-label *ngIf="!imgURL">Agregar imagen</mat-label>
                <mat-label *ngIf="imgURL">Cambiar imagen</mat-label>
                <button
                  class="imgButton"
                  mat-raised-button
                  type="button"
                  (click)="fileInput.click()"
                  color="primary"
                >
                  <mat-icon mat-list-icon>add_photo_alternate</mat-icon>
                </button>
              </div>
              <input
                (change)="onFileChanged($event)"
                #fileInput
                type="file"
                id="file"
                class="hiddenInput"
              />
              <div class="imgfield">
                <img [src]="imgURL" height="200" *ngIf="imgURL" class="imgsource"/>
              </div>
              <div *ngIf="imgURL">
                <mat-label *ngIf="imgURL">Remover imagen</mat-label>
                <button
                  class="imgButton"
                  mat-button
                  type="button"
                  (click)="imgURL = ''"
                  color="primary"
                >
                  <mat-icon mat-list-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <div>
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button (click)="stepper.reset()" [disabled]="!cleanButton">Limpiar</button>
              <button
                mat-raised-button
                (click)="enviarArticulo()"
                color="primary"
                [disabled]="!(firstFormGroup.valid && secondFormGroup.valid)"
                [swal]="alertSwal"
              >
                Guardar
              </button>
            </div>
          </form>
          <swal
            #alertSwal
            title="Atención"
            text={{swalMensaje}}
            icon={{swalTipo}}
            (confirm)="onSwalDialog()"
            imageUrl={{swalImg}}
          >
          </swal>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div class="component-header">
    <!-- Boton Actualizar -->
    <mat-card>
      <app-product-check
        [firstFormGroup]="firstFormGroup"
        [secondFormGroup]="secondFormGroup"
        [thirdFormGroup]="thirdFormGroup"
      ></app-product-check>
    </mat-card>
  </div>
</div>
